<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>CHAT POC</title>
  <link rel="stylesheet" href="/default-ui.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="~{fragments/nav.html}"></div>
<div class="wrapper">
  <h1> Support  Chat</h1>
  <div id="chatWrapper" class="chat-wrapper">
  </div>
</div>
<!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#U2NgYGBkDM0rySzJSU1hcCguyc8t0AeTWcUO5noGega6SakliaYAYTzJAykA
  -->
<script type="importmap">
  {
    "imports": {
      "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
    }
  }
</script>
<script type="module" src="/js/user.js"></script>
<div th:replace="~{fragments/bottom.html}"></div>
</body>
</html>